.movies-widget {
  margin-bottom: 25px;

  .empty-message {
    color: #9c9c9c;
    padding: 0.75rem 1.25rem;
  }

  .card-body {
    padding: 0 !important;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-item {
    border: none !important;
    margin-bottom: 0px !important;
    transition: all 0.25s ease-in;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 5px 10px !important;
    align-items: center !important;
    display: flex;
    width: 100%;


    &:last-child {
      border-bottom: none !important;
    }

    &:hover {
      background: #EAF4FD;
    }
  }


  .media-image {
    max-width: 50px;
  }

  .media-body {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-genre {
      font-size: 12px;
      color: #777;
    }

    &-title {
      text-transform: capitalize;
    }

    &-description {
      color: #777;
      margin-bottom: 0;
    }

    &-likes {
      font-size: 12px;
      margin-left: 10px;
      display: flex;
      align-items: center;

      i {
        margin-right: 5px;
        color: #2AC66D;
      }
    }
  }

}