.center {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.movie-single {
	.not-found {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.movie {
	padding: 2rem;

	&-image {
		width: 100%;
	}

	&-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-body {
		padding: 1.2rem;
	}
	
	&-title {
		text-transform: capitalize;
		font-weight: 100;
		font-size: 2.4rem;
		margin: 15px 0;
	}

	&-description {
		font-size: 1.2rem;
		margin-top: 10px;
		font-weight: 300;
	}

	&-info-field {
		margin-bottom: 10px;
		display: flex;
		align-items: center;

		.text-value {
			color: #777;
			margin-left: 10px;
			font-style: italic;
		}
	}
}