body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Toastify__toast {
  min-height: 55px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.Toastify__close-button {
  align-self: center;
}

.Toastify__toast--success {
  background-color: #2AC66D;
}

.Toastify__toast--error {
  background-color: #E14A3B;
}

.display-1,
.display-2,
.display-3,
.display-4 {
  font-weight: 100 !important;
  font-size: 3rem !important;


  @media(max-width: 768px) {
    font-size: 2rem !important;
  }
}

.navbar {
  box-shadow: 0 1px 3px rgba(140, 140, 140, 0.15);
  background-color: rgb(247, 247, 247) !important;
}

.card-header {
  box-shadow: 0 1px 3px rgba(140, 140, 140, 0.15);
  background-color: rgb(247, 247, 247);
  border-bottom: none;
}

.card-header {
  z-index: 2;
  position: relative;
}

.card-body {
  position: relative;
  z-index: 1;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #acacac !important;
  font-size: 0.85rem;
  font-weight: 300;
}

textarea::-moz-placeholder,
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #acacac !important;
  font-size: 0.85rem;
  font-weight: 300;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #acacac !important;
  font-size: 0.85rem;
  font-weight: 300;
}

textarea:-moz-placeholder,
input:-moz-placeholder {
  /* Firefox 18- */
  color: #acacac !important;
  font-size: 0.85rem;
  font-weight: 300;
}

textarea,
input {
  font-weight: 300 !important;
  color: #222;
}

@media(min-width: 768px) and (max-width: 992px) {
  .fluid-md {
    max-width: 100%;
  }
}