.card {
	margin-bottom: 25px;
	border: none !important;

	&-img-top {
		box-shadow: 0px 2px 10px 0px #b3b3b3;
	}
	
	&-body {
		padding-left: 0.4rem !important;
		padding-right: 0.4rem !important;
	}

	&-title {
		display: flex;
		text-transform: capitalize;
		justify-content: space-between;
		align-items: center;

		.votes {
			display: flex;
			align-items: center;

			.likes {
				i {
					color: #2AC66D;
				}
			}

			.dislikes {
				i {
					color: #E14A3B;
				}
			}
		
			&-el {
				margin-left: 15px;
				font-size: 14px;
			}

			&-el-value {
				color: #777;
				margin-left: 10px;
			}
		}

		a {
			color: black;
		}
	}

	&-text {
		color: #777;
		font-size: 13px;
		margin-top: 10px;

	}

	.info-stat {
		font-size: 14px;

		span {
			color: #777;
		}
	}
}